
.sidebar {
	--background-color: #f7f6f3;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 16rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  transform: translateX(0);
  transition: transform 250ms;
  h1 {
    font-size: 1.5rem;
  }
  nav {
    margin-bottom: auto;
    >ul {
      padding-left: 0;
    }
  }
  * {
    color: inherit;
  }
  &.opened {
    transform: translateX(100%);
  }
}
